.App {
  text-align: center;
  background-color: transparent; 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100vh;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: green;
  color: white;
  width: 300px; 
  height: 50px;
}

.App img {
  background-color: transparent; 
  margin-bottom: 180px;
}

.toggle-button {
  background-color: red;
}

.icon-box {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  bottom: 0;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.icon-button img {
  width: 95px;
  height: 95px;
}

.selected-heroes-box-left {
  display: flex;
  position: fixed;
  top: 0; 
  left: 0; 
  bottom: 0;
  flex-direction: column;
  align-items: center;
  width: 100px; 
  margin-right: 20px; 
  margin-left: 30px;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
}

.selected-heroes-box-right {
  display: flex;
  position: fixed;
  top: 0; 
  right: 0; 
  bottom: 0;
  flex-direction: column;
  align-items: center;
  width: 100px; 
  margin-right: 20px; 
  margin-left: 30px;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
}

.selected-heroes-box-top {
  position: absolute;
  top: 0.1%;
  left: 42%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  font-size: 12px;
}

.selected-hero img{
  width: 120px;
  height: 120px;
  margin: 19px;
}

.selected-hero-top img{
  width: 75px;
  height: 75px;
  margin: 5px;
}

.texto-banido{
  color: rgb(243, 117, 117);
  margin-top: 0%;
  font-size: 20px;
}

.back-button{
  width: 100px;
  height: 50px;
  margin-left: 300px;
}

.help-button{
  width: 100px;
  height: 50px;
  margin-right: 300px;
}

.button-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;
  padding: 10px; 
}